<div class="container mt-5">
	<h1 class="text-center my-2">Форма авторизации</h1>
	<div class="col-md-6 mx-auto mt-4">
		<form onsubmit="sendForm(this); return false;">

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><span class="material-icons">&#xe0be;</span></div>
				</div>
				<input name="email" type="email" class="form-control form-control-lg" placeholder="E-mail" required />
			</div>
			<p id="info" style="color: red"></p>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><span class="material-icons">&#xe897;</span></div>
				</div>
				<input name="pass" type="password" class="form-control form-control-lg" placeholder="Пароль" required
					id="formPass" />&nbsp;
				<span class="material-icons pass-icon"
					onmousedown="formPass.type='text'; this.nextElementSibling.hidden = false; this.hidden = true;">&#xe8f4;</span>
				<span class="material-icons pass-icon"
					onmouseup="formPass.type='password'; this.previousElementSibling.hidden = false; this.hidden = true;"
					hidden>&#xe8f5;</span>
			</div>

			<input type="submit" class="form-control form-control-lg btn form-btn" value="Войти" />
		</form>
	</div>
</div>

<script>
	async function sendForm(form) {
		let response = await fetch("authUser", {
			method: "POST",
			body: new FormData(form),
		});
		let result = await response.text();
		if (result == "ok") {
			window.location = '/lk';
		} else if (result == "not_confirmed") {
			info.innerText = "Аккаунт не подтвержден";
		}
		else {
			info.innerText = "Такого пользователя нет";
		}
	}
</script>