<div class="container mt-5">
	<h1 class="text-center my-2">Форма регистрации</h1>
	<div class="col-md-6 mx-auto mt-4">
		<form onsubmit="sendForm(this); return false;">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<span class="material-icons">&#xE853;</span>
					</div>
				</div>
				<input name="name" type="text" class="form-control form-control-lg" placeholder="Имя" required />
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><span class="material-icons">&#xE853;</span></div>
				</div>
				<input name="lastname" type="text" class="form-control form-control-lg" placeholder="Фамилия"
					required />
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><span class="material-icons">&#xe0be;</span></div>
				</div>
				<input name="email" type="email" class="form-control form-control-lg" placeholder="E-mail" required />
			</div>
			<p id="info" style="color: red"></p>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text"><span class="material-icons">&#xe897;</span></div>
				</div>
				<input name="pass" type="password" class="form-control form-control-lg" placeholder="Пароль" required
					id="formPass" />&nbsp;
				<span class="material-icons pass-icon"
					onmousedown="formPass.type='text'; this.nextElementSibling.hidden = false; this.hidden = true;">&#xe8f4;</span>
				<span class="material-icons pass-icon"
					onmouseup="formPass.type='password'; this.previousElementSibling.hidden = false; this.hidden = true;"
					hidden>&#xe8f5;</span>
			</div>
			<div class="form-group form-check mb-3">
				<input type="checkbox" class="form-check-input" required />
				<label class="form-check-label">Согласен(на) на обработку персональных данных</label>
			</div>
			<input type="submit" class="form-control form-control-lg btn form-btn" value="Зарегистрироваться" />
		</form>
	</div>
</div>

<script>
	async function sendForm(form) {
		let response = await fetch("regUser", {
			method: "POST",
			body: new FormData(form),
		});
		let result = await response.text();
		if (result == "ok") {
			alert("Письмо со ссылкой подтверждения отправлено вам на почту");
			document.location.href = "/";
		} else if (result == "bademail") {
			info.innerText = "Email не соответствует нормам";
		} else if (result == "emailerror") {
			info.innerText = "Не удалось отправить письмо";
		} else {
			info.innerText = "Пользователь уже существует!";
		}
	}
</script>