body {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 2.7rem;
  font-weight: 700;
  color: blue;
}
.form-btn {
  background-color: blue;
  color: white;
}
.material-icons {
  color: cyan;
}
form {
  transform: translateY(0px);
  filter: drop-shadow(1px 2px 4px hsl(0, 1%, 58%, 0.3));
}
form:focus-within {
  transform: translateY(-4px);
  filter: drop-shadow(1px 2px 4px hsl(0, 1%, 58%, 0.6));
}
.pass-icon {
  cursor: pointer;
}